                                    body {
                                    margin: 0px;
                                    font-family: 'Source Sans Pro', sans-serif;
                                    font-weight: 300;
                                    background-color: #3a3a3a;
                                    width: 100%;
                                }
                                /*
                .primary {
                    font-size: 25px;
                    margin: 0px;
                }
                
                .style {
                    margin-bottom: 5px;
                    margin-top: 20px;
                    clear: left;
                }
*/
                                
                                .header {
                                    padding-top: 50px;
                                    padding-bottom: 20px;
                                    height: auto;
                                }
                                
                                .nav {
                                    display: flex;
                                    float: right;
                                    margin-right: 1%;
                                    padding: 0px;
                                    background-color: #fcfcfc;
                                }
                                
                                .navi {
                                    width: ;
                                    float: right;
                                    padding: 25px;
                                    font-size: 19px;
                                    text-align: center;
                                    -webkit-transition-duration: 0.3s;
                                    transition-duration: 0.3s;
                                    color: black;
                                    display: inline-block;
                                    flex-basis: 15px;
                                    flex: 1;
                                    z-index: 20;
                                }
                                
                                .navi:hover {
                                    background-color: #efefef;
                                }
                                
                                .logo {
                                    padding-left: 50px;
                                    padding-right: 10px;
                                    padding-top: 10px;
                                    float: left;
                                    font-family: 'Lato', sans-serif;
                                    z-index: 30;
                                }
                                
                                .smallpage {
                                    background-color: #fcfcfc;
                                    margin-left: 5%;
                                    margin-right: 5%;
                                    align-self: center;
                                    width: 90%;
                                    float: left;
                                    z-index: -10;
                                }
                                
                                .intro-text {
                                    position: absolute;
                                    top: 90px;
                                    left: 30px;
                                    color: white;
                                    font-size: 25px;
                                    font-family: 'Lato', sans-serif;
                                    display: none;
                                    text-shadow: 2px 2px 4px #000000;
                                }
                                
                                .intro-text-oneplus,
                                .intro-text-oppo {
                                    position: absolute;
                                    top: 0px;
                                    left: 30px;
                                    color: white;
                                    font-size: 20px;
                                    font-family: 'Lato', sans-serif;
                                    display: none;
                                    text-shadow: 2px 2px 4px #000000;
                                }
                                
                                .intro-text-benq,
                                .intro-text-sm {
                                    position: absolute;
                                    top: 0px;
                                    right: 30px;
                                    color: white;
                                    font-size: 20px;
                                    font-family: 'Lato', sans-serif;
                                    display: none;
                                    text-shadow: 2px 2px 4px #000000;
                                }
                                
                                .xp5:hover {
                                    filter: opacity(70%);
                                }
                                
                                .oneplus:hover {
                                    filter: opacity(70%);
                                }
                                
                                .oppo:hover {
                                    filter: opacity(70%);
                                }
                                
                                .benq:hover {
                                    filter: opacity(70%);
                                }
                                
                                .smartisan:hover {
                                    filter: opacity(70%);
                                }
                                
                                a.xp5:hover + p.intro-text {
                                    display: block;
                                }
                                
                                .oneplus:hover + .intro-text-oneplus {
                                    display: block;
                                }
                                
                                .benq:hover + .intro-text-benq {
                                    display: block;
                                }
                                
                                .oppo:hover + .intro-text-oppo {
                                    display: block;
                                }
                                
                                .smartisan:hover + .intro-text-sm {
                                    display: block;
                                }
                                
                                a {
                                    text-decoration: none;
                                    color: black;
                                }
                                
                                .intro-container {
                                    position: relative;
                                    margin-bottom: 1%;
                                }
                                
                                .intro-container-top {
                                    position: relative;
                                    display: flex;
                                }
                                
                                .intro-container-bottom {
                                    position: relative;
                                    display: flex;
                                }
                                
                                .benq {
                                    width: 49.5%;
                                    margin-top: 0px;
                                }
                                
                                .oneplus {
                                    width: 49.5%;
                                    margin-top: 0px;
                                    margin-right: 1%;
                                }
                                
                                .oppo {
                                    width: 49.5%;
                                    margin: 0px;
                                    margin-right: 1%;
                                }
                                
                                .smartisan {
                                    width: 49.5%;
                                    margin: 0px;
                                }
                                
                                .rights {
                                    font-size: 20px;
                                    text-align: right;
                                    color: #bcbcbc;
                                    padding-bottom: 40px;
                                    padding-top: 30px;
                                    text-align: center;
                                    width：100%;
                                    clear: both;
                                }
                                
                                .about-rights {
                                    text-align: right;
                                    font-size: 20px;
                                    text-align: right;
                                    color: #bcbcbc;
                                    padding-bottom: 40px;
                                    padding-top: 50px;
                                    width：100%;
                                    clear: both;
                                    padding-right: 4%;
                                }
                                
                                .preview-container {
                                    width: auto;
                                    height: 35%;
                                    margin-top: 100px;
                                    background-color: #f4f4f4;
                                }
                                
                                .preview-container-bottom {
                                    margin-top: 40px;
                                    width: 100%;
                                    height: 35%;
                                    background-color: #f4f4f4;
                                }
                                
                                .smallpic {
                                    width: 40%;
                                    height: 100%;
                                    margin-top: 0px;
                                    margin-bottom: 0px;
                                    float: left;
                                    clear: both;
                                    overflow: hidden;
                                }
                                
                                .title {
                                    width: 50%;
                                    text-align: right;
                                    float: right;
                                    margin-top: 20px;
                                    font-size: 35px;
                                    margin-bottom: 0px;
                                    font-family: 'Lato', sans-serif;
                                    margin-right: 2%;
                                }
                                
                                .title:hover {
                                    color: #42bcf4;
                                }
                                
                                .feature {
                                    display: inline;
                                    float: right;
                                    text-align: right;
                                    font-size: 20px;
                                    margin-top: 10px;
                                    width: 50%;
                                    margin-right: 2%;
                                }
                                
                                .point {
                                    margin: 2px;
                                    
                                }
                                
                                .review-header {
                                    position: relative;
                                }
                                
                                .headimg {
                                    display: none;
                                }
                                
                                .title-small {
                                    display: none;
                                }
                                
                                .review-title {
                                    text-align: center;
                                    position: absolute;
                                    top: 43%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: white;
                                    font-size: 30px;
                                    font-family: 'Lato', sans-serif;
                                    text-shadow: 2px 2px 4px #000000;
                                }
                                
                                .review-title-two {
                                    text-align: center;
                                    position: absolute;
                                    top: 52%;
                                    left: 50%;
                                    transform: translate(-50%, -50%);
                                    color: white;
                                    font-size: 20px;
                                    font-family: 'Lato', sans-serif;
                                    text-shadow: 2px 2px 4px #000000;
                                }
                                
                                .review-main {
                                    width: 70%;
                                    margin-left: 2%;
                                    font-size: 20px;
                                    margin-right: 0px;
                                }
.review-pic{
    margin-left: 2%;
    width:60%;
}
                                
                                .spec-container {
                                    position: relative;
                                    width: 20%;
                                    float: right;
                                    margin-left: 0px;
                                    background-color: #f4f4f4;
                                    margin-right: 2%;
                                    padding-left: 2%;
                                    padding-right: 2%;
                                }
                                
                                spec-img {
                                    position: absolute;
                                }
                                
                                .pic1 {
                                    margin-bottom: 0px;
                                    width: 100%;
                                }
                                
                                .pic2,
                                .pic3,
                                .pic4,
                                .pic5,
                                .pic6,
                                .pic7,
                                .pic8,
                                .pic9,
                                .pic10,
                                .pic11,
                                .pic12,
                                .pic13 {
                                    width: 50%;
                                    margin: 0px;
                                }
                                
                                .photo-container {
                                    display: flex;
                                    flex-flow: row wrap;
                                    padding: 0px;
                                    margin: 0px;
                                }
                                
                                .about-title {
                                    font-family: 'Lato', sans-serif;
                                    font-size: 30px;
                                    margin-left: 5%;
                                    float: left;
                                    margin-top: 2%;
                                }
                                
                                .about-content {
                                    font-size: 22px;
                                    float: right;
                                    margin-right: 4%;
                                    margin-top: 2%;
                                    margin-bottom: 0px;
                                    width: 60%;
                                    text-align: right;
                                }
                                
                                .contact {
                                    float: right;
                                    width: 8%;
                                    font-size: 20px;
                                    color: #bcbcbc;
                                    margin-bottom: 0px;
                                    text-align: center;
                                    margin-left: 0px;
                                    margin-right: 0px;
                                    padding: 0px;
                                    margin-top: 20px;
                                }
                                
                                .contact-container {
                                    margin-right: 3%;
                                }
                                
                                .contact:hover {
                                    color: #42bcf4;
                                }
                                
                                .style-title {
                                    font-size: 25px;
                                    font-family: 'Lato', sans-serif;
                                    margin-left: 2%;
                                    margin-bottom: 0px;
                                }
                                
                                .style-subtitle {
                                    font-size: 24px;
                                    margin-left: 2%;
                                    margin-bottom: 10px;
                                    margin-top: 1%;
                                }
                                
                                .source {
                                    margin-left: 2%;
                                    font-size: 25;
                                    margin-top: 10px;
                                    margin-bottom: 0px;
                                }
                                
                                .source-intro {
                                    width: 90%;
                                    margin-left: 2%;
                                    margin-top: 10px;
                                    font-size: 20px;
                                }
                                
                                .source:hover {
                                    color: #42bcf4;
                                }
                                
                                .lato {
                                    font-family: 'Lato', sans-serif;
                                    margin-left: 2%;
                                    font-size: 25;
                                    margin-top: 10px;
                                    margin-bottom: 0px;
                                }
                                
                                .lato-intro {
                                    font-family: 'Lato', sans-serif;
                                    width: 90%;
                                    margin-left: 2%;
                                    margin-top: 10px;
                                    font-size: 22px;
                                }
                                
                                .lato:hover {
                                    color: #42bcf4;
                                }
                                
                                .style-size1 {
                                    margin-left: 2%;
                                    font-size: 20px;
                                    margin-top: 0px;
                                }
                                
                                .style-size2 {
                                    margin-left: 2%;
                                    font-size: 30px;
                                    margin-top: 0px;
                                    font-family: 'Lato', sans-serif;
                                    margin-bottom: 17px;
                                }
                                
                                .style-size3 {
                                    margin-left: 2%;
                                    font-size: 19px;
                                    margin-top: 0px;
                                }
                                
                                .black {
                                    width: 85%;
                                    margin-left: 2%;
                                    margin-left: 2%;
                                    font-size: 25px;
                                    margin-top: 10px;
                                    color: #3a3a3a;
                                    padding: 5px;
                                    margin-bottom: 0px;
                                }
                                
                                .black:hover {
                                    background-color: #3a3a3a;
                                }
                                
                                .white1 {
                                    width: 85%;
                                    margin-left: 2%;
                                    margin-left: 2%;
                                    margin-bottom: 0px;
                                    font-size: 25px;
                                    margin-top: 10px;
                                    color: #efefef;
                                    padding: 5px;
                                }
                                
                                .white1:hover {
                                    background-color: #efefef;
                                }
                                
                                .blue {
                                    width: 85%;
                                    margin-left: 2%;
                                    margin-left: 2%;
                                    margin-bottom: 0px;
                                    font-size: 25px;
                                    margin-top: 10px;
                                    color: #42bcf4;
                                    padding: 5px;
                                }
                                
                                .blue:hover {
                                    background-color: #42bcf4;
                                }
                                
                                hr {
                                    margin-left: 20px;
                                    margin-right: 100px;
                                    margin-top: 20px;
                                }
                                
                                @media screen and (max-width: 800px) {
                                    .nav {
                                        flex-direction: column;
                                        width: 100%;
                                        float: left;
                                        clear: both;
                                        padding: 0px;
                                    }
                                    .intro-container-top,
                                    .intro-container-bottom {
                                        flex-direction: column;
                                    }
                                    .oneplus,
                                    .benq,
                                    .oppo,
                                    .smartisan {
                                        width: 100%;
                                        margin: 0px;
                                    }
                                    .intro-container {
                                        margin-bottom: 0px;
                                        position: relative;
                                    }
                                    .header {
                                        height: auto;
                                        overflow: visible;
                                    }
                                    .preview-container,
                                    .preview-container-bottom {
                                        background-color: #fcfcfc;
                                    }
                                    .spec-container {
                                        float: left;
                                        clear: right;
                                        display: none;
                                    }
                                    .review-main {
                                        width: 96%;
                                    }
                                    .review-header {
                                        display: none;
                                    }
                                    .logo {
                                        width: 100%;
                                        text-align: center;
                                        padding-left: 0px;
                                        margin-bottom: 0px;
                                        margin-top: 0px;
                                    }
                                    .headimg {
                                        display: block;
                                    }
                                    .title-small {
                                        font-size: 25px;
                                        font-family: 'Lato', sans-serif;
                                        display: block;
                                        margin-left: 2%;
                                        margin-bottom: 0px;
                                    }
                                    .navi {
                                        font-size: 18px;
                                        padding: 14px;
                                    }
                                    .pic2,
                                    .pic3,
                                    .pic4,
                                    .pic5,
                                    .pic6,
                                    .pic7,
                                    .pic8,
                                    .pic9,
                                    .pic10,
                                    .pic11,
                                    .pic12,
                                    .pic13 {
                                        width: 100%;
                                        margin: 0px;
                                    }
                                    a.xp5:hover + p.intro-text {
                                        display: none;
                                    }
                                    .contact {
                                        width: 60%;
                                        margin-bottom: 0px;
                                        text-align: right;
                                        padding-right: 1%;
                                        margin-top: 8px;
                                        font-size: 18px;
                                    }
                                    .about-content {
                                        margin-top: 1.5%;
                                        font-size: 20px;
                                    }
                                    .about-rights {
                                        font-size: 18px;
                                    }
                                     .smallpic {
                                    width: 40%;
                                         height: 100%;
                                    }